<header class="page-header">
    <div class="container">
      <div class="page-header__content">

          <div class="social" style="display:flex; gap:20px;">
            <a href="https://www.linkedin.com/in/yuko-t-b07269225/" target="_blank"><img class="social-icon" src="assets/blog/linkedin.png"></img></a>
            <a href="https://github.com/Yuko-code" target="_blank"><img class="social-icon" src="assets/blog/github.png"></img></a>
            <a href="https://twitter.com/codieTamago" target="_blank"><img class="social-icon" src="assets/blog/twitter.png"></img></a>
          </div>

        <nav>

          <ul role="list" class="nav-list flex-group">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/#about">About</a>
            </li>
            <li>
              <a href="/#featured-articles">Projects</a>
            </li>
            <li>
              <a href="/#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>